/**
 * Colors
 *
 */

// App Colors
$fiesta-violet: #562c80;
$fiesta-purple: #b14196;
$fiesta-blue: #8dd3dd;
$fiesta-orange: #ed6822;
$fiesta-green: #e4e685;

// Neutral Light
$color-white: #fff;

// Neutral Dark
$color-gray: #323232;
$color-light-gray: #eee;
