/**
 * Reset
 * - by Meyer ( http://meyerweb.com/eric/tools/css/reset/ )
 * - v2.0 | 20110126
 * - License: none (public domain)
 * - Modified, added other commonly-used rules
 *
 */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

// HTML5 display-role reset for older browsers
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  position: relative;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  font-family: $base-font;
  font-size: 16px;
  color: $fiesta-violet;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
button,
input,
textarea {
  outline: 0;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
}

button,
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
}

input,
select,
textarea {
  font-size: 1em;
}

video {
  width: 100%;
  height: auto;
}

img {
  max-width: 100%;
  height: auto;
}

strong {
  font-weight: 700;
}

input[type="email"],
input[type="password"],
input[type="search"],
input[type="text"],
input[type="date"],
textarea {
  font-family: $base-font;
}
