/**
 * Fonts
 *
 */

@font-face {
  font-family: "ObelixPro";
  src: url($fonts-dir+"obelixprob-cyr-webfont.woff2") format("woff2"),
    url($fonts-dir+"obelixprob-cyr-webfont.woff") format("woff"),
    url($fonts-dir+"obelixprob-cyr-webfont.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}

$base-font: "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size: $base-pixel;
$base-line-height: 1.2em;

$title-font: "ObelixPro", "Avenir", Helvetica, Arial, sans-serif;

@mixin titleFontStyle() {
  font-family: $title-font;
  text-transform: uppercase;
  font-size: px(22);
  color: $fiesta-purple;
}
