/**
 * Common Variables
 *
 */

// Base Pixel
$base-pixel: 16;
$base-padding: 10;
$small-padding: 10;
$medium-padding: 20;
$large-padding: 30;

// Screen Sizes
$small-portrait: 320px;
$small-landscape: 480px;
$tablet-portrait: 768px;
$desktop: 1024px;
$desktop-wide: 1120px;

// Assets Directories
$img-dir: "../images/";
$svg-dir: "../images/svg/";
$fonts-dir: "../fonts/";

// Border Radius
$border-radius: 10px;
$large-border-radius: 20px;
