/**
 * Back to Nick Link
 *
 */

.back-to-nick {
  height: 28px;
  background-color: $color-gray;
  text-align: right;
  z-index: 2;
  position: relative;

  a {
    color: $color-white;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 24px;
  }

  span,
  img {
    display: inline-block;
  }

  span {
    margin-right: px($base-padding);
    vertical-align: sub;
  }

  img {
    height: 14px;
    width: auto;
    vertical-align: middle;
  }
}
