/**
 * Checkbox
 *
 */

.pseudo-checkbox {
  position: relative;

  input[type="checkbox"] {
    display: none;

    &:checked + label:after {
      content: " ";
      background: $fiesta-violet url($img-dir+"check.png") no-repeat center;
      background-size: contain;
      display: inline-block;
    }
  }

  label {
    padding-left: px(24);
    display: block;
    cursor: pointer;

    &:after {
      border: 2px solid $fiesta-violet;
      position: absolute;
      top: 0;
      left: 0;
      width: 14px;
      height: 14px;
      background: $color-white;
      content: " ";
      @include border-radius(2px);
    }
  }
}

// Media Queries
@include breakpoint(tablet-and-up) {
  .pseudo-checkbox label:after {
    top: 2px;
  }
}
