/**
 * Input
 *
 */

::placeholder {
  color: $fiesta-violet !important;
}

:-ms-input-placeholder {
  color: $fiesta-violet !important;
}

::-ms-input-placeholder {
  color: $fiesta-violet !important;
}

input,
textarea {
  width: 100%;
  display: block;
  color: $fiesta-violet;
  padding: px($base-padding/2) px($base-padding);
  // border: 3px solid $fiesta-blue;
  // @include border-radius($large-border-radius);
  background: $fiesta-green;
  border: 0;
}

textarea {
  background: $color-white;
}

// Media Queries
@include breakpoint(tablet-and-up) {
  input,
  textarea {
    font-size: px(20);
    border-width: 5px;
  }

  textarea {
    height: 160px;
  }
}
