/**
 * Page Footer
 *
 */

.page-footer {
  position: relative;
  @include pageNoise();

  .wrap {
    max-width: 960px;
    position: relative;

    &:before {
      background-image: url($img-dir+"bg/left-boat.png");
      bottom: 20px;
      left: -60px;
      width: 100px;
      height: 60px;
      background-position: center bottom;
    }

    &:after {
      background-image: url($img-dir+"bg/right-boat.png");
      top: -20px;
      right: -130px;
      width: 180px;
      height: 50px;
      background-position: center top;
    }

    &:before,
    &:after {
      position: absolute;
      content: " ";
      display: block;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .shops img {
    display: block;
  }

  .sponsors {
    background-image: url($img-dir+"bg/water.jpg");
    background-position: center top;
    background-size: 500px;
    z-index: 1;
    position: relative;
    padding: px($large-padding) 0 px($large-padding);

    .item {
      text-align: center;
      margin: 0 auto px($large-padding);

      &:last-child {
        margin-bottom: 0;
      }

      h3 {
        text-transform: uppercase;
        font-weight: 600;
        color: $color-white;
        margin: 0 auto px($small-padding);
        font-size: 12px;
        max-width: 120px;
      }

      img {
        display: block;
        margin: auto;
      }
    }
  }
}

.sg,
.clarke-quay {
  height: 50px;
}

.sg-tourism-board {
  height: 80px;
}

.magic-rock {
  height: 60px;
}

@include breakpoint(tablet-and-up) {
  .page-footer .sponsors .wrap {
    display: flex;
    justify-content: space-between;

    .item {
      margin-bottom: 0;
    }
  }
}

@include breakpoint(tablet-portrait-only) {
  .page-footer .sponsors .wrap {
    max-width: 640px;

    img {
      height: 40px;
    }
  }
}
