/**
 * Page Header
 *
 */

.page-header {
  background-image: url($img-dir+"bg/yellow.jpg");
  background-repeat: repeat;
  background-position: center top;
  background-size: 500px;
  position: relative;
  @include pageNoise();

  .wrap {
    max-width: 960px;
  }

  .site-logo {
    display: block;
    margin: 0 auto 20px;
  }

  .contents {
    margin: auto;
    position: relative;
    z-index: 5;
  }

  .details {
    text-align: center;
    font-weight: 700;
    color: $fiesta-violet;
    line-height: 1.5;
    font-family: $title-font;
    text-transform: uppercase;
    letter-spacing: 2px;

    .dates {
      font-size: 24px;
    }

    .location {
      font-size: 16px;
    }
  }

  .featured-characters {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 px(10);
    margin: 0;
    object-fit: contain;
    object-position: bottom;
  }
}

.page-header .wrap {
  position: relative;

  &:before,
  &:after {
    background-repeat: no-repeat;
    position: relative;
    height: 370px;
    background-size: contain;
    width: 50%;
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    z-index: 1;
  }

  &:before {
    background-image: url($img-dir+"bg/flags.png");
    background-position: left top;
  }

  &:after {
    background-image: url($img-dir+"bg/balloon.png");
    background-position: right top;
  }
}

// Media Queries
@include breakpoint(small-portrait-only) {
  $small-pad: -18px;
  $small-character-height: 100px;

  .page-header .wrap {
    padding-top: 100px;

    &:before,
    &:after {
      top: $small-pad;
    }

    &:before {
      left: $small-pad;
    }

    &:after {
      right: $small-pad;
    }

    .contents {
      max-width: 400px;
      padding-bottom: $small-character-height;
    }

    .featured-characters {
      bottom: -10px;
      height: $small-character-height;
    }
  }
}

@include breakpoint(small-landscape-only) {
  $small-pad-2: -25px;
  $small-character-height-2: 140px;

  .page-header .wrap {
    padding-top: 140px;

    &:before,
    &:after {
      top: $small-pad-2;
    }

    &:before {
      left: $small-pad-2;
    }

    &:after {
      right: $small-pad-2;
    }

    .contents {
      max-width: 420px;
      padding-bottom: $small-character-height-2;
    }

    .featured-characters {
      bottom: -10px;
      height: $small-character-height-2;
    }
  }
}

@include breakpoint(tablet-and-up) {
  $large-character-height: 180px;

  .page-header .wrap {
    padding-top: 140px;

    &:before,
    &:after {
      top: -25px;
    }

    &:before {
      left: 0;
    }

    &:after {
      right: 0;
    }

    .contents {
      max-width: 640px;
      padding-bottom: $large-character-height;
    }

    .details {
      .dates {
        font-size: 30px;
      }
    }

    .featured-characters {
      bottom: -20px;
      height: $large-character-height;
    }
  }
}

@include breakpoint(desktop-and-up) {
  $x-large-character-height: 220px;

  .page-header .wrap {
    .contents {
      padding-bottom: $x-large-character-height;
    }

    .featured-characters {
      max-width: none;
      height: $x-large-character-height;
      bottom: -20px;
      width: 760px;
    }
  }
}
