/**
 * Common
 *
 */

body {
  background-color: $fiesta-blue;
  background-image: url($img-dir+"bg/blue.jpg");
  background-repeat: repeat;
  background-position: center top;
  background-size: 800px;
  position: relative;
  overflow-x: hidden;
}

.wrap {
  @include clearfix();
  padding: 0 px($small-padding);
  max-width: 860px;
  margin-left: auto;
  margin-right: auto;
}

@include breakpoint(tablet-and-up) {
  .wrap {
    padding: 0 px($large-padding);
  }
}
