/**
 * Form
 *
 */

.form-section {
  position: relative;
  @include pageNoise();

  .top {
    @include pageGray();
    padding: px($small-padding) px($small-padding) px($large-padding);
    text-align: center;
    @include border-radius(0 0 10px 10px);
    @include box-shadow(5px 5px 5px rgba(0, 0, 0, 0.15));
    margin-bottom: px($large-padding * 2);

    p {
      font-weight: 600;
      margin-bottom: px($medium-padding);
    }
  }

  .section-title {
    @include titleFontStyle();
    color: $fiesta-violet;
    font-size: 30px;
    max-width: 640px;
    margin: 0 auto px($medium-padding);
  }

  textarea {
    max-width: 670px;
    height: 110px;
    margin: auto;
    @include border-radius(4px);
    @include box-shadow(inset 5px 5px 5px rgba(0, 0, 0, 0.25));
    resize: none;
    display: block;
  }
}

.form-section {
  .row label {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 900;
    display: block;
    line-height: 1.2;
    margin-bottom: px($small-padding/2);
  }

  .row {
    @include clearfix();

    .col {
      margin-bottom: px($large-padding);
    }
  }
}

// Terms
.form-footer {
  padding: px($large-padding) 0 0;
  @include clearfix();
  position: relative;
}

.terms-section {
  font-size: px(14);

  .terms-title {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: px($medium-padding);
  }

  a {
    font-weight: 900;
    color: $fiesta-violet;
  }

  ul {
    margin-bottom: px($medium-padding);
    padding-left: px($medium-padding);

    li {
      position: relative;
      margin-bottom: px($base-padding/2);
      list-style-type: disc;
      list-style-position: outside;
    }
  }

  p {
    margin-bottom: px($medium-padding);
  }

  .clauses {
    margin-bottom: px($medium-padding);
  }
}

// Submit button
.form-submit-button {
  @include titleFontStyle();
  color: $fiesta-violet;
  @include box-shadow(5px 5px 5px rgba(0, 0, 0, 0.15));
  background: $fiesta-green;
  line-height: 1em;
  padding: px($small-padding);
  width: 160px;
  font-size: 28px;
  letter-spacing: 1px;
  margin: 0 auto px($medium-padding);
  display: block;
  height: 48px;
  @include border-radius(10px);
  cursor: pointer;

  @include hoverStyles() {
    background: darken($fiesta-green, 5%);
  }

  span {
    display: block;
  }
}

// Media Queries
@include breakpoint(tablet-and-up) {
  .form-section {
    .row label {
      text-align: center;
    }

    .row {
      .col:last-child {
        float: right;
        padding-left: px($base-padding);
        padding-right: 0;
      }

      .col,
      .col.left {
        float: left;
        padding-left: 0;
        padding-right: px($base-padding);
        width: 50%;
      }

      .col.single {
        width: 100%;
        padding: 0;
      }
    }
  }

  .terms-section {
    .terms-title {
      font-size: px(18);
    }

    ul {
      margin-bottom: px($medium-padding);
    }
  }

  .submit-button-container {
    margin-top: px($large-padding);
  }

  .form-footer {
    padding-bottom: 0;
  }
}

@include breakpoint(desktop-and-up) {
  .terms-section {
    font-size: px(16);
  }
}
