/**
 * Game frames
 *
 */

$remove-button-bg: $fiesta-blue;
$src-frame-border: transparent;
$src-frame-bg: $fiesta-blue;
$src-frame-size: 25%;
$src-frames-max-width: 700px;
$src-frames-margin: 0;
$destination-frame-border: $fiesta-orange;
$destination-frame-bg: $fiesta-violet;
$destination-frame-size: 33.3333%;
$destination-frames-max-width: 500px;

// Draggable / Droppable
.draggable {
  opacity: 0.6;
}

.dropped {
  position: static !important;
}

.frame {
  height: 0;
  float: left;
  position: relative;

  & > div {
    display: block;
    @include border-radius(100%);
    position: absolute;
    top: px($small-padding/2);
    bottom: px($small-padding/2);
    left: px($small-padding/2);
    right: px($small-padding/2);
    border-width: px($small-padding/2);
    border-style: solid;

    &.active {
      width: 60px;
      height: 60px;
    }

    &.filled .remove-button {
      display: block;
    }
  }

  span {
    display: block;
    overflow: hidden;
    @include border-radius(100%);
  }

  .remove-button {
    display: none;
    @include border-radius(4px);
    background: $remove-button-bg;
    text-transform: uppercase;
    font-weight: 700;
    color: $color-white;
    padding: px(2);
    position: absolute;
    bottom: -10px;
    left: -2.5px;
    right: 0;
    text-align: center;
    width: 70px;
    margin: auto;
    border: 0;
    font-size: px($base-padding);

    em {
      background: url($img-dir+"x.png") no-repeat center;
      background-size: contain;
      width: 10px;
      height: 7px;
      display: inline-block;
    }

    @include hoverStyles() {
      background: darken($remove-button-bg, 5%);
    }
  }
}

.source-frames {
  @include clearfix();
  margin-bottom: $src-frames-margin;

  .frame {
    width: $src-frame-size;
    padding-bottom: $src-frame-size;
    // z-index: 1;
    cursor: move;

    // CUSTOM
    z-index: 3;
    // CUSTOM

    & > div {
      border-color: $src-frame-border;
      background: $src-frame-bg;

      // CUSTOM
      border-width: 0;
      @include pageNoise();
      // CUSTOM
    }

    // CUSTOM
    span {
      width: 100%;
      height: 100%;
      position: relative;

      &:after {
        content: " ";
        width: 100%;
        height: 100%;
        z-index: 1;
        border-radius: 100%;
        @include box-shadow(inset 5px 5px 10px #48a8d6);
        position: absolute;
        top: 0;
        left: 0;
      }

      img {
        z-index: 2;
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    // -CUSTOM
  }

  // CUSTOM
  .frame-6,
  .frame-7 {
    span img {
      z-index: 1;
    }

    span:after {
      @include box-shadow(inset 5px 5px 10px rgba(0, 0, 0, 0.5));
      z-index: 2;
    }
  }
  //-CUSTOM
}

.destination-frames {
  @include clearfix();

  .frame {
    width: $destination-frame-size;
    padding-bottom: $destination-frame-size;
    position: relative;
    z-index: 1;

    .basket {
      display: block;
      z-index: 2;

      // CUSTOM
      @include box-shadow(-4px 9px 4px -1px rgba(23, 23, 23, 0.6));
      // CUSTOM

      &.filled > div {
        background-color: $color-white;
      }
    }

    & > div {
      border-color: $destination-frame-border;
      background: $destination-frame-bg;
    }

    // CUSTOM
    &:after {
      content: " ";
      position: absolute;
      top: 5%;
      left: 5%;
      z-index: 1;
      display: block;
      height: 90%;
      width: 90%;
      border-radius: 100%;

      background: -moz-linear-gradient(
        top,
        rgba(255, 255, 255, 1) 0%,
        rgba(0, 0, 0, 0) 80%
      );
      background: -webkit-linear-gradient(
        top,
        rgba(255, 255, 255, 1) 0%,
        rgba(0, 0, 0, 0) 80%
      );
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 1) 0%,
        rgba(0, 0, 0, 0) 80%
      );
    }

    //-CUSTOM
  }

  .basket.highlight {
    opacity: 0.5;

    &.filled {
      filter: grayscale(1);
    }
  }
}

@include breakpoint(small-landscape-only) {
  .frame .active {
    width: 120px;
    height: 120px;
  }

  .remove-button {
    padding: 5px;
    font-size: 14px;
    width: 100px;

    em {
      height: 10px;
    }
  }
}

@include breakpoint(mobile-only) {
  .source-frames {
    max-width: 480px;
    margin: auto;
  }

  .destination-frames {
    max-width: 480px;
    margin: auto;

    .frame > div {
      top: 10px;
      left: 10px;
      right: 10px;
      bottom: 10px;
    }
  }
}

@include breakpoint(tablet-and-up) {
  .source-frames {
    max-width: $src-frames-max-width;
    margin: auto;

    .frame {
      & > div {
        top: px($small-padding);
        bottom: px($small-padding);
        left: px($small-padding);
        right: px($small-padding);
      }
    }
  }

  .destination-frames {
    max-width: $destination-frames-max-width;
    margin: auto;

    .frame {
      & > div {
        top: px(15);
        bottom: px(15);
        left: px(15);
        right: px(15);
        border-width: px(7);
      }
    }
  }

  .frame {
    & > div {
      &.active {
        width: 160px;
        height: 160px;
      }
    }

    .remove-button {
      padding: 10px;
      font-size: 14px;
      width: 100px;

      em {
        height: 10px;
      }
    }

    span {
      border-width: px($small-padding);
    }
  }
}
