/**
 * Game
 *
 */

.game-section {
  padding-top: 10px;

  .wrap > div {
    @include box-shadow(5px 5px 5px rgba(0, 0, 0, 0.15));
  }

  .section-title {
    @include titleFontStyle();
    color: $fiesta-violet;
    font-size: 30px;
  }

  .game-title,
  .instructions {
    background-image: url($img-dir+"bg/bricks.jpg");
    background-repeat: repeat;
    background-position: center top;
    background-size: 200px;
    position: relative;
    text-align: center;
    position: relative;
    padding: px($medium-padding) 0;
  }

  .game-title {
    @include border-radius(10px 10px 0 0);
  }

  .win-badge {
    position: absolute;
    top: -50px;
    right: 0;
    width: 100px;
    height: 100px;
    object-fit: contain;
  }

  .game-image {
    display: block;
  }

  .instructions {
    padding: px($large-padding) 0 px($small-padding);
    background-position: center bottom;

    .section-title {
      margin-bottom: px($small-padding);
    }

    p {
      font-weight: 600;
      padding: 0 px($small-padding);
      max-width: 480px;
      margin: 0 auto px($medium-padding);
    }
  }

  .frame-answers {
    @include pageGray();
    padding: px($small-padding);
    @include pageNoise();
    position: relative;
  }
}

@include breakpoint(small-portrait-only) {
  .game-section {
    .game-title .section-title {
      max-width: 200px;
      margin: auto;
      text-align: left;
    }
  }
}

@include breakpoint(small-landscape-only) {
  .game-section {
    .game-title .section-title {
      max-width: 200px;
      margin: auto;
    }

    .win-badge {
      width: 120px;
      height: 120px;
    }
  }
}

@include breakpoint(tablet-portrait-only) {
  .game-section {
    .win-badge {
      width: 200px;
      height: 200px;
      right: -40px;
      top: -90px;
    }
  }
}

@include breakpoint(desktop-and-up) {
  .game-section {
    .win-badge {
      width: 250px;
      height: 250px;
      right: -40px;
      top: -90px;
    }
  }
}
