/**
 * Intro
 *
 */

.contest-intro {
  position: relative;
  @include pageNoise();

  .wrap {
    padding-top: px($large-padding);
  }

  .section-title {
    @include titleFontStyle();
    text-align: center;
    margin-bottom: px($small-padding);
  }

  p {
    font-size: 14px;
  }

  p,
  ul {
    line-height: 1.25;
    font-weight: 500;
    margin-bottom: px($large-padding);
  }

  ul {
    font-size: 12px;
  }

  li {
    margin-bottom: px($small-padding/2);
  }

  strong {
    font-weight: 900;
  }
}

// Media Queries
@include breakpoint(tablet-and-up) {
  .contest-intro {
    .activities {
      display: flex;
      justify-content: space-between;

      .activity {
        max-width: 400px;
        padding-right: 20px;
      }

      li {
        margin-bottom: px(4);
      }
    }
  }
}
