/**
 * Success Page
 *
 */

.success-page {
  padding-top: px($large-padding);
  .game-banner .game-image {
    width: 600px;
    margin: px($large-padding) auto;
    display: block;
  }

  .success-message {
    @include titleFontStyle();
    font-size: px(36);
    text-align: center;
    color: $fiesta-violet;
    letter-spacing: 2px;

    p {
      margin-bottom: px($large-padding);
    }
  }

  .good-luck {
    font-size: px(48);
    color: $fiesta-orange;
  }
}

// Media Queries
@include breakpoint(tablet-and-up) {
  .success-page {
    .details {
      float: right;
    }
  }
}

@include breakpoint(tablet-portrait-only) {
  .success-page {
    .details {
      width: 55%;
      margin-right: 2.5%;
    }

    .success-message {
      font-size: px(45);
    }
  }
}

@include breakpoint(desktop-and-up) {
  .success-page {
    .contest-title {
      span {
        padding: 40px 0;
      }
    }

    .message-wrap {
      padding: 0 px($small-padding);
    }

    .details {
      width: 57.5%;
      margin-right: 2.5%;
    }

    .success-message {
      font-size: px(65);
    }

    .good-luck {
      font-size: px(140);
      margin-top: -20px;
    }
  }
}
